<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteveCadwallader.CodeMaid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteveCadwallader.CodeMaid.Properties.Settings>
            <setting name="Reorganizing_MemberTypeConstructors" serializeAs="String">
                <value>Constructors||3||Constructors</value>
            </setting>
            <setting name="Reorganizing_MemberTypeMethods" serializeAs="String">
                <value>Methods||8||Methods</value>
            </setting>
            <setting name="Reorganizing_MemberTypeProperties" serializeAs="String">
                <value>Properties||6||Properties</value>
            </setting>
            <setting name="Reorganizing_MemberTypeEnums" serializeAs="String">
                <value>Enums||9||Enums</value>
            </setting>
            <setting name="Reorganizing_MemberTypeDestructors" serializeAs="String">
                <value>Destructors||4||Destructors</value>
            </setting>
            <setting name="Reorganizing_MemberTypeDelegates" serializeAs="String">
                <value>Delegates||2||Delegates</value>
            </setting>
            <setting name="Reorganizing_MemberTypeIndexers" serializeAs="String">
                <value>Indexers||7||Indexers</value>
            </setting>
            <setting name="Reorganizing_MemberTypeInterfaces" serializeAs="String">
                <value>Interfaces||10||Interfaces</value>
            </setting>
            <setting name="Cleaning_UpdateFileHeaderCSharp" serializeAs="String">
                <value>// ============================================================================
//   ______    _        _____                       _
//  |  ____|  | |      / ____|                     | |
//  | |__   __| | __ _| (___   __ _ _ __ ___  _ __ | | ___
//  |  __| / _` |/ _` |\___ \ / _` | '_ ` _ \| '_ \| |/ _ \
//  | |___| (_| | (_| |____) | (_| | | | | | | |_) | |  __/
//  |______\__,_|\__,_|_____/ \__,_|_| |_| |_| .__/|_|\___|
//                                           | |
//                                           |_|
// MIT License
//
// Copyright (c) 2017-2019 Sunny Chen (daxnet)
//
// ============================================================================
</value>
            </setting>
            <setting name="Reorganizing_RegionsInsertNewRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_RegionsRemoveExistingRegions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Reorganizing_RegionsIncludeAccessLevel" serializeAs="String">
                <value>True</value>
            </setting>
        </SteveCadwallader.CodeMaid.Properties.Settings>
    </userSettings>
</configuration>